*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
:root{
    --clr: #2f3550;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color:var(--clr);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    position: relative;
    width: 490px;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.navigation ul{
    display: flex;
    width: 350px;
}
.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    width: 25px;
    height: 75px;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.navigation ul li.active a .icon{
    transform: translateY(-36px);
}
.navigation ul li a .text{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: .9em;
    letter-spacing: 00.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}

.indicator{
    position:absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: #29fd53;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;

}
.indicator::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clr);
}
.indicator::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clr);
}
.navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 1));
}

/* @media (max-width: 480px) {
    .nav-container {
        padding: 12px 15px;
        max-width: 300px;
    }

    .nav-icon {
        width: 20px;
        height: 20px;
    }
    .nav-item {
        font-size: 10px;
    }
}

@media (max-width: 320px) {
    .nav-container {
        padding: 10px;
        max-width: 250px;
    }

    .nav-icon {
        width: 18px;
        height: 18px;
    }

    .message-button {
        width: 40px;
        height: 40px;
        top: -20px;
    }

    .nav-item {
        font-size: 8px;
    }
} */